.form-group.col-md-12
  = f.password_field :password, placeholder: 'Password', class: "form-control"
.form-group.col-md-12
  = f.password_field :password_confirmation, placeholder: 'Type Password Again', class: "form-control"